<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
    <listeners>
        <!--<listener class-name="com.automation.remarks.testng.VideoListener"/>-->
        <listener class-name="com.listener.TestListener"></listener>
    </listeners>

    <test name="order">
        <packages>
            <package name="com.automation.remarks.testng.test"/>
        </packages>
    </test>
</suite>
